<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs", { title: title}) %>

  <body>
    <div class="row">
      <%- include("partials/sidebar.ejs", { nav: nav}) %>
      <div class="main col-lg-10 col-md-9">
        <h1>All Entries</h1>
        <% if (message) { %>
         <h2><%= message %></h2>
        <% } %>
        <ul>
          <% for( let entry of entries) { %>
            <li><a href="/wiki/<%= entry %>">
                <%= entry.toUpperCase() %>
              </a></li>
            <% } %>
        </ul>
      </div>
    </div>
  </body>

</html>